aws.accessKeyId=xxxxxxxxxxxxxxxxxxxx
aws.secretAccessKey=xxxxxxxxxxxxxxxxxxxxxxx
aws.region=xxxxxxxxxxx

server.port=8081

spring.datasource.url=jdbc:postgresql://localhost:5432/xxxxx
spring.datasource.username=xxxxx
spring.datasource.password=xxxxx

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

app.jwt.secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
app.jwt.expiration-ms=3600000

logging.level.org.springframework.security=DEBUG
logging.level.com.jobportal.job_portal=DEBUG
